.fundo {
  width: 100%;
  height: 770px;
  position: absolute;
}

.logo {
  width: 800px;
}

figure {
  margin: auto;
  text-align: center;
}
@keyframes cloud {
  0% {
    transform: translate3d(0, 0, 0);
  }
  49% {
    transform: translate3d(-200vw, 0, 0);
    visibility: hidden;
  }
  50% {
    transform: translate3d(200vw, 0, 0);
    visibility: hidden;
  }
  51% {
    transform: translate3d(200vw, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.home {
  overflow: hidden;
}
.nuvens {
  background-color: #622aff;
  width: 100%;
  padding-bottom: 0;
  position: relative;
}
.cloud-3-2 {
  top: -90px;
  left: 150vw;
  position: absolute;

  animation: cloud 300s linear infinite;
}
.cloud-3-1 {
  animation: cloud 300s linear infinite;
  top: 250px;
  left: 160vw;
  position: absolute;
}
.cloud-2-3 {
  top: -250px;
  left: 160vw;
  position: absolute;
  animation: cloud 340s linear infinite;
}
.cloud-2-4 {
  top: -150px;

  left: 160vw;
  position: absolute;
  animation: cloud 100s linear infinite;
}
.cloud-2-5 {
  top: 250px;
  left: 160vw;
  position: absolute;
  animation: cloud 130s linear infinite;
}
.cloud-2-2 {
  position: absolute;
  top: -300px;
  animation: cloud 240s linear infinite;
  left: 95vw;
}
.cloud-2-1 {
  top: 10px;
  animation: cloud 240s linear infinite;
  left: 2vw;

  position: absolute;
}
.cloud-1-2 {
  top: -300px;

  position: absolute;
  left: 170vw;
  animation: cloud 180s linear infinite;
}
.cloud-1-1 {
  top: -200px;

  position: absolute;
  animation: cloud 180s linear infinite;
  left: 30vw;
}
.absolute {
  width: 35px;
  border-right: solid white 1px;
}
img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}
img {
  border: 0;
}
.resphub {
  height: 750px;
  margin-top: 20px;

  width: 750px;
  right: 300px;
  font-size: 25px;
  background-image: url(/src/assets/pergaminhomainn.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  color: black;
  text-align: center;
  z-index: 1;
  position: absolute;
}
.fotos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 500px;

  margin-top: 160px;
}
.fotos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 500px;

  margin-top: 160px;
}
.fotohub {
  width: 130px;

  border-radius: 100%;
}
.nomehub {
  line-height: 30px;
  width: 450px;
  margin: auto;

  margin-top: 10px;
}
.infoshub {
  margin-top: 5px;
  line-height: 20px;
  height: 290px;
}
.exphub {
  background-color: #222435;
  margin-top: 40px;
  height: 50px;
  width: 450px;
  border-radius: 10px;

  margin: auto;
  position: relative;
}
.barra {
  margin-top: 40px;
}
.barraxp {
  height: 100%;
  color: white;
  width: 100%;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 13px;
  margin-top: 10px;
}
.barralateral {
  border-right: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.nivel {
  margin-bottom: 10px;
}
.projetosdiv {
  margin-top: 50px;
  border: 2px solid white;
  width: 200px;
}

.fontsize:hover {
  transform: scale(1.13);
}
.fontsize {
  font-size: 15px;
  line-height: 20px;
  margin-top: 10px;
  cursor: pointer;
}
.seguidoresatak {
  border: 2px solid white;
  width: 100px;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}
.seguidoresdeff {
  border: 2px solid white;
  width: 100px;
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}
.bbt {
  margin-top: 10px;
  border-radius: 10px;
}

.segefolow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 530px;
  margin: auto;
}

.folow {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: white;
}
.projetoseflows {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.sujestaofqatak {
  width: 350px;
  height: 430px;
  position: absolute;
  color: white;
  left: -10px;
  top: 500px;
  border-radius: 7px;
  z-index: 1;
}

.infosdeff {
  padding: 10px;
  position: absolute;
  z-index: 2;
  top: 40px;
  right: 30px;
  width: 250px;
  color: black;
  font-size: 19px;
}
.infosatak {
  padding: 10px;
  position: absolute;
  z-index: 2;
  top: 40px;
  left: 50px;
  width: 250px;
  color: black;
  font-size: 19px;
}
.escudo-espadag {
  margin-top: 30px;
}
.h1def {
  margin-left: 70px;
  margin-bottom: 30px;
}
.h1atak {
  margin-left: 60px;
  margin-bottom: 30px;
}
.sujestaofdeff {
  width: 350px;
  height: 430px;
  position: absolute;
  color: white;
  left: 960px;
  top: 500px;
  border-radius: 7px;
  z-index: 1;
}

.barraxp .filled-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(114, 173, 19, 0.644); /* Cor da barra preenchida */
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

.absolute {
  width: 35px;
  border-right: solid white 1px;
}

.button {
  position: relative;
  display: inline-block;
  margin: 5px;
}

.button p,
label {
  color: black;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;

  text-align: center;
  text-decoration: none;
  background-color: #ffa12b;
  display: block;
  position: relative;
  padding: 10px 20px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button p:active {
  top: 10px;
  background-color: #f78900;

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}
.button label:active {
  top: 10px;
  background-color: #f78900;

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}

.button:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #2b1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@media screen and (min-width: 1536px) {
  .resphub {
    height: 750px;
    margin-top: 20px;

    width: 750px;
    right: 390px;
    font-size: 25px;
    background-image: url(/src/assets/pergaminhomainn.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    color: black;
    text-align: center;
    z-index: 1;
    position: absolute;
  }
  .sujestaofdeff {
    width: 350px;
    height: 430px;
    position: absolute;
    color: white;
    left: 1150px;
    top: 500px;
    border-radius: 7px;
    z-index: 1;
  }
}

@media screen and (max-width: 630px) {
  .fundo {
    width: 100%;
    height: 1056px;
    position: absolute;
  }
  .resphub {
    margin-top: 20px;

    width: 620px;
    right: 0px;
    font-size: 25px;
    background-image: url(/src/assets/pergaminhomainn.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    color: black;
    text-align: center;
    z-index: 1;
    position: absolute;
  }

  .fotos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;

    margin-top: 130px;
  }
  .fotohub {
    width: 100px;

    border-radius: 100%;
  }
  .nomehub {
    line-height: 30px;
    width: 450px;
    margin: auto;

    margin-top: 10px;
  }
  .infoshub {
    margin-top: 5px;
    line-height: 30px;
    height: 290px;
    width: 620px;
  }
  .exphub {
    background-color: #222435;

    height: 50px;
    width: 400px;
    border-radius: 10px;

    margin: auto;
    position: relative;
  }
  .barra {
    margin-top: 10px;
  }
  .barraxp {
    height: 100%;
    color: white;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 13px;
    margin-top: 10px;
  }
  .barralateral {
    border-right: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  .nivel {
    margin-bottom: 10px;
  }
  .projetosdiv {
    margin-top: 50px;
    border: 2px solid white;
    width: 200px;
    cursor: pointer;
  }

  .segefolow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 430px;
    margin: auto;
  }

  .sujestaofqatak {
    width: 350px;
    height: 430px;
    position: absolute;
    color: white;
    left: -30px;

    top: 960px;
    border-radius: 7px;
    z-index: 1;
  }
  .sujestaofdeff {
    width: 350px;
    height: 430px;
    position: absolute;
    color: white;
    left: 260px;
    top: 960px;
    border-radius: 7px;
    z-index: 1;
  }
  .infosdeff {
    padding: 10px;
    position: absolute;
    z-index: 2;
    top: 40px;
    right: 30px;
    width: 250px;
    color: black;
    font-size: 19px;
  }
  .infosatak {
    padding: 10px;
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 50px;
    width: 250px;
    color: black;
    font-size: 19px;
  }

  .button {
    position: relative;
    display: inline-block;
    margin: -5px;
  }
  .folow {
    font-size: 20px;
  }
  .button p,
  label {
    color: black;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;

    text-align: center;
    text-decoration: none;
    background-color: #ffa12b;
    display: block;
    position: relative;
    padding: 4px;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);

    -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
    -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
    box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .button p:active {
    top: 10px;
    background-color: #f78900;

    -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
    -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #915100;
    box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
  }
  .button label:active {
    top: 10px;
    background-color: #f78900;

    -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
    -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #915100;
    box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
  }

  .button:after {
    content: "";
    height: 100%;
    width: 100%;
    padding: 4px;
    position: absolute;
    bottom: -15px;
    left: -4px;
    z-index: -1;
    background-color: #2b1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 459px) {
  .fundo {
    width: 100%;

    position: absolute;
  }
  .resphub {
    margin-top: 20px;

    width: 470px;
    right: -12px;
    font-size: 25px;
    background-image: url(/src/assets/pergaminhomainn.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    color: black;
    text-align: center;
    z-index: 1;
    position: absolute;
  }

  .fotos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;

    margin-top: 100px;
  }
  .fotohub {
    width: 70px;

    border-radius: 100%;
  }
  .nomehub {
    line-height: 14px;
    width: 250px;
    height: 50px;
    margin: auto;

    margin-top: 1px;
    margin-left: 100px;
    font-size: 15px;
  }
  .infoshub {
    margin-top: 5px;
    line-height: 30px;
    height: 290px;
    width: 400px;
  }
  .exphub {
    background-color: #222435;

    height: 30px;
    width: 300px;
    border-radius: 10px;

    margin: auto;
    position: relative;
  }
  .barra {
    margin-top: 10px;
    margin-left: 60px;
  }
  .barraxp {
    height: 100%;
    color: white;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 13px;
    margin-top: 10px;
  }
  .barralateral {
    border-right: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  .nivel {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .segefolow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 320px;

    font-size: 15px;
    margin-left: 70px;
  }
  .folow {
    font-size: 15px;
  }

  .sujestaofqatak {
    width: 250px;

    position: absolute;
    color: white;
    left: -30px;

    top: 780px;
    border-radius: 7px;
    z-index: 1;
  }
  .sujestaofdeff {
    width: 250px;

    position: absolute;
    color: white;
    left: 200px;
    top: 780px;
    border-radius: 7px;
    z-index: 1;
  }
  .infosdeff {
    padding: 5px;
    position: absolute;
    z-index: 2;
    top: 40px;
    right: 5px;
    width: 200px;
    color: black;
    font-size: 15px;

    height: 200px;
  }
  .infosatak {
    padding: 5px;
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 30px;
    width: 200px;
    color: black;
    font-size: 15px;
  }
}
.button p,
label {
  color: black;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;

  text-align: center;
  text-decoration: none;
  background-color: #ffa12b;
  display: block;
  position: relative;
  padding: 3px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button p:active {
  top: 10px;
  background-color: #f78900;

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}
.button label:active {
  top: 10px;
  background-color: #f78900;

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}

.button:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #2b1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
