.search {
  margin: auto;
  text-align: center;
  width: 200px;
  z-index: 1;
  color: white;
  position: absolute;
}

.procura {
  height: 250px;
  width: 500px;
  margin: auto;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.31);
  border-radius: 3px;
}

button {
  color: white;
  background-color: black;
  width: 40px;
  height: 41px;
  position: absolute;
  right: -190px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}

.inpt {
  padding: 15px;
  width: 250px;
  border: none;
  outline: none;
  position: relative;
  border-radius: 3px;
  background-color: white;
}

.h2ep {
  height: 100px;
  line-height: 30px;
  padding: 30px;
}
.psearch {
  font-size: 12px;
}
.hubaberto {
  width: 100px;
  height: 100px;
}
